.header-bottom-container {
    position: relative;
    // top: 0;
    // width: 300px;
    z-index: 1;
    // backdrop-filter: blur(10px);

    &.short_video {
        position: unset;
        // z-index: -1;
    }

    .header-bottom-content {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        // border-bottom: 1px solid rgba(255, 255, 255, 0.18);
        z-index: 1;
        position: relative;

        &.short_video {
            border-bottom: unset;

            .header-logo {
                // border: 1px solid #fff;

                .header-logo-img {
                    margin-left: 10px;
                }
            }

            .header-icon {
                .header-icon-wrap {
                    .header-icon-separate {
                        display: none;
                    }
                }
            }
        }

        .header-logo {
            width: fit-content;
            order: 1;
            padding-right: 50px;

            .header-logo-img {
                // background-image: url('../../public/images/logo/logo-full.png');
                // background-size: cover;
                margin-left: 4px;
                width: 130px;
                height: 54px;
                object-fit: cover;
                padding: 6px 4px;

                &.logoIcon {
                    width: 50px !important;
                    height: 50px !important;
                    padding: 4px;
                }

                // &.header-logo-img-small {
                //     background-image: url('../../public/images/logo/logo-icon.png');

                // }
            }
        }

        .header-search {
            // flex: 1;
            order: 2;
            display: flex;
            align-items: center;
            padding: 6px 0;
            width: 300px;
            max-width: 100%;
            // position: relative;
            // z-index: 100;

            &.unShow {
                display: none;
            }

            .header-search-wrap {
                width: 100%;
                position: relative;

                .search-input {
                    position: relative;
                    display: flex;
                    background-color: transparent;
                    padding: 4px;
                    border-radius: 4px;
                    align-items: center;
                    border: 1px solid #737373;

                    .wrapInput {
                        flex: 1;

                        div {
                            // background-color: aquamarine;
                            width: 100%;
                            position: relative;

                            input {
                                width: 100%;
                                padding: 5px 10px;
                                color: #fff;
                                background-color: transparent;
                                // border: 1px solid #fff;
                                z-index: 1;
                                font-size: 1.2rem;

                                &::placeholder {
                                    color: #737373;
                                    font-size: 1.2rem;
                                }



                            }

                            div {
                                // margin-top: 6px;
                                background-color: #fff;
                                display: block !important;
                                box-sizing: border-box !important;
                                // padding: 0 10px !important;
                                padding: 0 !important;
                                overflow-x: hidden;

                                // cursor: pointer !important;
                                div {
                                    cursor: pointer;
                                    padding: 4px 16px !important;
                                }
                            }
                        }
                    }


                    .btn-search {
                        // padding: 5px 15px;
                        // background-color: orange;
                        display: flex;
                        align-items: center;
                        border-radius: 3px;
                        cursor: pointer;
                        z-index: 1;

                        i {
                            color: #ddd;
                            font-size: 1.2rem;
                        }

                        .btn {
                            --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
                            --border-width: .125em;
                            --curve-size: .5em;
                            --blur: 30px;
                            --bg: #080312;
                            --color: #afffff;
                            color: var(--color);
                              /* use position: relative; so that BG is only for .btn */
                            position: relative;
                            isolation: isolate;
                            display: inline-grid;
                            place-content: center;
                            padding: .5em 1.5em;
                            font-size: 17px;
                            border: 0;
                            text-transform: uppercase;
                            box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
                            clip-path: polygon(
                                      /* Top-left */
                                      0% var(--curve-size),
                          
                                      var(--curve-size) 0,
                                      /* top-right */
                                      100% 0,
                                      100% calc(100% - var(--curve-size)),
                          
                                      /* bottom-right 1 */
                                      calc(100% - var(--curve-size)) 100%,
                                      /* bottom-right 2 */
                                      0 100%);
                            transition: color 250ms;
                          }
                          
                          .btn::after,
                          .btn::before {
                            content: '';
                            position: absolute;
                            inset: 0;
                          }
                          
                          .btn::before {
                            background: var(--border-color);
                            background-size: 300% 300%;
                            animation: move-bg7234 5s ease infinite;
                            z-index: -2;
                          }
                          
                          @keyframes move-bg7234 {
                            0% {
                              background-position: 31% 0%
                            }
                          
                            50% {
                              background-position: 70% 100%
                            }
                          
                            100% {
                              background-position: 31% 0%
                            }
                          }
                          
                          .btn::after {
                            background: var(--bg);
                            z-index: -1;
                            clip-path: polygon(
                                      /* Top-left */
                                      var(--border-width) 
                                      calc(var(--curve-size) + var(--border-width) * .5),
                          
                                      calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),
                          
                                      /* top-right */
                                      calc(100% - var(--border-width)) 
                                      var(--border-width),
                          
                                      calc(100% - var(--border-width)) 
                                      calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
                          
                                      /* bottom-right 1 */
                                      calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
                                      /* bottom-right 2 */
                                      var(--border-width) calc(100% - var(--border-width)));
                            transition: clip-path 500ms;
                          }
                          
                          .btn:where(:hover, :focus)::after {
                            clip-path: polygon(
                                          /* Top-left */
                                          calc(100% - var(--border-width)) 
                          
                                          calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
                              
                                          calc(100% - var(--border-width))
                          
                                          var(--border-width),
                              
                                          /* top-right */
                                          calc(100% - var(--border-width))
                          
                                           var(--border-width),
                              
                                          calc(100% - var(--border-width)) 
                          
                                          calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
                              
                                          /* bottom-right 1 */
                                          calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) 
                                          calc(100% - var(--border-width)),
                          
                                          /* bottom-right 2 */
                                          calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
                                          calc(100% - var(--border-width)));
                            transition: 200ms;
                          }
                          
                          .btn:where(:hover, :focus) {
                            color: #fff;
                          }
                    }

                    .search-boder {
                        display: none;
                        position: absolute;
                        inset: 0;
                        pointer-events: none;
                        border: 1px solid orange;
                        border-radius: 3px;
                        background-color: #fff;
                    }
                }

                .search-suggestions {
                    display: none;
                    position: absolute;
                    width: 100%;
                    min-height: 100px;
                    background-color: #ccc;
                }
            }

        }

        .header-icon {
            flex: 1;
            width: fit-content;
            order: 3;
            display: flex;
            align-items: center;
            padding-left: 50px;
            padding-right: 10px;
            justify-content: flex-end;
            
            .header-icon-wrap {
                display: flex;
                gap: 10px;
                align-items: center;
                position: relative;

                >.icon_notify {
                    // min-width: 50px;
                    min-height: 50px;
                    background-color: transparent;
                    // border: 1px solid #fff;
                    border: none;
                    outline: none;
                    position: relative;

                    &:focus {
                        >.notify_show {
                            // display: block;
                            transform: scale(1);
                            opacity: 1;
                        }

                        ~.icon_virtual {
                            display: block;
                        }
                    }

                    >.icon {
                        position: relative;
                        margin-right: 3px;

                        i {
                            font-size: 18px;
                            color: var(--icon-color);
                        }

                        span {
                            position: absolute;
                            top: -8px;
                            right: -10px;
                            // font-weight: 700;
                            background-color: orangered;
                            color: #fff;
                            width: 16px;
                            height: 16px;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 12px;
                            font-size: 1rem;
                            // box-shadow: 0px 0px 1px 1px #333;
                        }
                    }



                    >.notify_show {
                        position: absolute;
                        padding: 10px 0;
                        top: 100%;
                        right: 0;
                        min-width: 400px;
                        // min-height: 100px;
                        // border: 1px solid #fff;
                        background-color: var(--bg-primary-color);
                        box-shadow: var(--shadow-color) 0px 5px 15px;
                        border-radius: 4px 3px 4px 4px;
                        cursor: default;
                        // display: none;
                        opacity: 0;
                        transform: scale(0);
                        transition: all .2s linear;
                        transform-origin: top right;
                        color: #fff;

                        &::after {
                            position: absolute;
                            content: "";
                            bottom: 100%;
                            right: 4px;
                            border: 8px solid transparent;
                            border-bottom-color: var(--bg-primary-color);
                        }

                        >.header {
                            color: var(--text-title-color);
                            // text-shadow: 0 0 .5em #FFA3FD;
                            font-weight: 600;
                            font-size: 1.4rem;
                        }

                        >.list_notify {
                            padding-bottom: 10px;
                            max-height: calc(100vh - 170px);
                            overflow-y: auto;
                            margin-top: 10px;

                            &::-webkit-scrollbar {
                                width: 6px;
                                background-color: #fff;

                            }

                            &::-webkit-scrollbar-thumb {
                                background-color: #bbb;
                            }

                            >.item_notify {
                                padding: 5px;
                                // transition: all .3s linear;
                                cursor: pointer;



                                &:hover {
                                    background-color: #737373;
                                    color: #000;

                                    >.title,
                                    >.content {
                                        color: #fff;
                                    }
                                }

                                >.title {
                                    font-weight: 600;
                                    text-align: start;
                                    font-size: 1.2rem;
                                    color: #737373;
                                }

                                >.content {
                                    text-align: start;
                                    font-size: 1rem;
                                    line-height: 16px;
                                    max-height: calc(16px * 3);
                                    word-break: keep-all;
                                    text-align: justify;
                                    display: -webkit-box;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 3;
                                    overflow: hidden;
                                    color: #737373;

                                    &::first-letter {
                                        font-size: 14px;
                                        font-weight: bold;
                                        text-transform: uppercase;
                                    }

                                }

                                img {
                                    margin-top: 6px;
                                    width: auto;
                                    min-width: 50%;
                                    max-height: 200px;
                                    object-fit: cover;
                                    border: 1px solid #737373;
                                    border-radius: 4px;
                                    margin-right: 100%;
                                }
                            }
                        }

                        >.footer {
                            font-size: 1.2rem;
                            // background-color: #d1d1d1;
                            border-top: 1px solid #737373;
                            cursor: pointer;
                            padding: 5px 0 0;

                            &:hover {
                                color: orange;
                            }
                        }

                    }
                }

                >.icon_virtual {
                    position: absolute;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    display: none;
                }

                .icon-cart {
                    display: flex;
                    align-items: center;
                    gap: 14px;
                    cursor: pointer;
                    color: #fff;
                    background: transparent;
                    border: none !important;
                    position: relative;
                    margin-right: 6px;

                    &:focus {

                        .cartShow_container {
                            opacity: 1;
                            transform: scale(1);
                        }

                        ~.icon_virtual {
                            display: block;
                        }
                    }

                    &.unShow {
                        display: none;
                    }

                    &:hover {

                        .right {
                            .text {
                                color: orange;
                            }
                        }
                    }

                    .left {
                        position: relative;

                        span {
                            display: block;
                            width: 24px;
                            height: 24px;
                            // background-image: url('../../public/images/home/icon-cart.gif');

                            i {
                                color: var(--icon-color);
                            }
                        }

                        div {
                            position: absolute;
                            top: -4px;
                            right: -6px;
                            background-color: orangered;
                            border-radius: 50%;
                            // padding-top: 3px;
                            font-size: 1rem;
                            width: 14px;
                            height: 14px;
                            line-height: 20px;
                            text-align: center;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                        }
                    }

                    .right {
                        color: var(--text-color-white);
                        font-size: 1.2rem;
                    }

                    .cartShow_container {
                        position: absolute;
                        top: calc(100% - 10px);
                        right: -5px;
                        min-width: min(500px, 100vw);
                        min-height: 200px;
                        background-color: var(--bg-primary-color);
                        box-shadow: var(--shadow-color) 0px 5px 15px;
                        z-index: 1010;
                        margin-top: 20px;
                        border-radius: 4px;
                        padding: 10px;
                        cursor: default;
                        transform-origin: top right;
                        opacity: 0;
                        transform: scale(0);
                        transition: .2s linear;

                        @keyframes fadeInCart {
                            from {
                                opacity: 0;
                                transform: scale(0);
                            }

                            to {
                                opacity: 1;
                                transform: scale(1);
                            }
                        }

                        .cartShow_content {
                            background-color: var(--bg-primary-color);
                            min-height: 200px;

                            .header {
                                text-align: center;
                                color: var(--text-title-color);
                                // text-shadow: 0 0 .5em #FFA3FD;
                                text-transform: uppercase;
                                padding: 0px 0;
                                border-bottom: 1px solid #ccc;
                                padding-bottom: 10px;
                                font-size: 1.4rem;
                            }

                            .listCarts {
                                max-height: min(60vh, 400px);
                                overflow-y: auto;
                                min-height: 100px;
                                color: #FFF;

                                .cartItem {
                                    display: flex;
                                    padding: 10px;
                                    gap: 14px;
                                    position: relative;

                                    &:hover {
                                        background-color: #000;
                                    }

                                    .cartItem_left {
                                        width: 50px;
                                        height: 50px;
                                        background-size: cover;
                                        background-image: url('https://product.hstatic.net/200000516791/product/_a999deee-a9b5-494e-b5b6-65ad78378fbc_db04edfb24e24c519bf915b2e1f1b9d3_8ca6c271879d41d6baefb1da1a8a8bab_small.jpg');
                                        cursor: pointer;
                                    }

                                    .cartItem_right {
                                        flex: 1;

                                        .cartItem_name {
                                            color: #fff;
                                            font-size: 1.2rem;
                                            font-weight: 500;
                                            text-transform: capitalize;
                                            text-align: start;
                                            cursor: pointer;
                                            width: fit-content;
                                        }

                                        .cartItem_classify {
                                            color: #fff;
                                            font-size: 1rem;
                                            text-transform: capitalize;
                                            text-align: start;
                                        }

                                        .cartItem_wrap {
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-between;
                                            color: #fff;

                                            .cartItem_amount {
                                                font-size: 1rem;
                                            }

                                            .cartItem_price {
                                                color: orangered;
                                                font-size: 1.2rem;
                                            }
                                        }
                                    }

                                    .close {
                                        position: absolute;
                                        top: 10px;
                                        right: 10px;
                                        width: 20px;
                                        height: 20px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        cursor: pointer;

                                        &:hover {
                                            i {
                                                color: red;
                                            }
                                        }

                                        i {
                                            font-size: 1.5rem;
                                        }
                                    }
                                }
                            }

                            .footer {
                                border-top: 1px solid #ccc;
                                padding: 10px 0 0;

                                .footer_btn {
                                    width: fit-content;
                                    padding: 5px 10px;
                                    margin: 0 auto;
                                    background-color: red;
                                    color: #fff;
                                    border-radius: 4px;
                                    cursor: pointer;
                                    font-size: 1.2rem;

                                    &:hover {
                                        opacity: .8;
                                    }

                                }
                            }


                        }

                        &::after {
                            position: absolute;
                            content: "";
                            border: 10px solid transparent;
                            border-bottom-color: var(--bg-primary-color);
                            top: -20px;
                            right: 10px;
                            z-index: -1;
                            pointer-events: none;
                        }

                        .btnClose {
                            position: absolute;
                            right: 20px;
                            top: 6px;
                            display: none;

                            >i {
                                cursor: pointer;

                                &:hover {
                                    color: #000;
                                }
                            }
                        }
                    }

                    .layoutCartMobile {
                        position: fixed;
                        width: 100vw;
                        height: 100vh;
                        top: 0;
                        left: 0;
                        background-color: #00000059;
                        z-index: 1;
                        display: none;
                    }
                }

                .header-icon-separate {
                    width: 1px;
                    background-color: #ccc;
                    padding: 16px 0;
                    margin: 0 6px 0 6px;

                    &.separate-2 {
                        display: none;
                    }
                }

                .icon-account {
                    position: relative;
                    cursor: pointer;
                    color: #fff;
                    max-width: 120px;
                    display: flex;
                    justify-content: flex-start;

                    .no-login {
                        display: flex;
                        gap: 10px;
                        align-items: center;

                        &:hover {
                            color: orange;

                            .text {
                                color: orange;
                            }
                        }

                        span {
                            display: block;
                            width: 32px;
                            height: 32px;
                            background-image: url('../../public/images/home/icon-user.gif');
                        }

                        .text {
                            color: var(--text-color-white);
                            margin-top: 4px;
                            font-size: 1.2rem;
                        }
                    }

                    .login {
                        position: relative;
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        background-color: transparent;
                        border: none;
                        outline: none;
                        cursor: pointer;

                        &:focus {

                            .login-menu {
                                // display: block;
                                transform: scale(1);
                            }

                            ~.virtualButton {
                                display: block;
                            }
                        }

                        &:hover {
                            .text {
                                color: orange;
                            }
                        }

                        span {
                            display: block;
                            width: 24px;
                            height: 24px;
                            background-image: url('../../public/images/user/no-user-image.jpg');
                            background-size: cover;
                            border-radius: 50%;
                            background-color: #737373;
                        }

                        .text {
                            color: var(--text-color-white);
                            margin-top: 4px;
                            font-size: 1.2rem;
                            max-width: 80px;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }

                        .login-menu {
                            position: absolute;
                            top: calc(100% + 10px);
                            right: 0;
                            min-width: 240px;
                            background-color: var(--bg-primary-color);
                            box-shadow: var(--shadow-color) 0px 5px 15px;
                            z-index: 101;
                            border-radius: 5px;
                            overflow: hidden;
                            // box-shadow: 1px 0 40px 1px #333;
                            animation: fadein .25s linear;
                            padding: 10px;
                            // display: none;
                            transform: scale(0);
                            transform-origin: top right;
                            transition: .2s linear;

                            .separate {
                                width: 100%;
                                border-bottom: 1px solid #7373734e;
                                margin: 10px 0;
                            }

                            .menu-item {
                                padding: 8px 6px;
                                text-align: left;
                                color: #fff;
                                font-size: 12px;

                                &:hover {
                                    background-color: #000;
                                    border-radius: 5px;
                                }
                            }

                            @keyframes fadein {
                                from {
                                    opacity: 0;
                                }

                                to {
                                    opacity: 1;
                                }
                            }
                        }
                    }

                    .virtualButton {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-color: red;
                        display: none;
                        opacity: 0;
                    }
                }

                .icon-menu {
                    display: none;
                    gap: 10px;
                    align-items: center;
                    cursor: pointer;
                    color: #fff;
                    margin-right: 6px;

                    &.active {
                        ~.menuShow {
                            transform: translateX(0);
                        }

                        ~.layoutIconMenu {
                            display: block !important;
                        }
                    }

                    &:hover {
                        >i {
                            color: orange;
                        }
                    }

                    i {
                        font-size: 20px;
                    }

                }

                .menuShow {
                    position: fixed;
                    height: 100vh;
                    width: 300px;
                    max-width: 100vw;
                    top: 0;
                    left: 0;
                    background-color: #001529;
                    z-index: 120;
                    cursor: default;
                    overflow-y: auto;
                    transform: translateX(-100%);
                    transition: .3s ease-in-out;
                    padding-bottom: 40px;

                    .btnClose {
                        text-align: end;

                        i {
                            margin-right: 10px;
                            margin-top: 10px;
                            cursor: pointer;
                            color: #fff;

                            &:hover {
                                color: #fff;
                            }
                        }
                    }
                }

                .layoutIconMenu {
                    position: fixed;
                    inset: 0;
                    background-color: #000000ae;
                    z-index: 1;
                    display: none;
                }
            }

        }
    }

    .link_social {
        position: absolute;
        // min-height: 50px;
        min-width: 100px;
        // border: 1px solid #fff;
        display: flex;
        gap: 20px;
        padding: 0 5px;

        .social_item {
            display: flex;
            color: #fff;
            gap: 6px;
            align-items: center;

            &:hover {
                opacity: .8;
            }

            >.right {
                font-size: 1.2rem;
            }
        }
    }

}

@media (max-width: 900px) {
    .header-bottom-container {
        .header-search {
            flex: unset !important;
            order: 4 !important;
            width: 100% !important;
            margin: 0px 4px 10px;
        }
    }
}

@media (max-width: 700px) {
    .header-bottom-container {
        .header-icon {
            .icon-cart {
                &:focus {

                    .cartShow_container {
                        opacity: 1;
                        transform: translateY(0) !important;
                    }

                    &:focus {

                        .layoutCartMobile {
                            display: block;
                        }

                    }
                }

                .cartShow_container {
                    position: fixed !important;
                    bottom: 0 !important;
                    left: 0 !important;
                    top: unset !important;
                    right: unset !important;
                    width: 100%;
                    max-width: 100% !important;
                    // max-height: min(500px, 80%);
                    z-index: 2;
                    transform-origin: bottom !important;
                    transform: translateY(100%) !important;

                    .cartShow_content {

                        .header {
                            background-color: red;
                            color: #fff !important;
                            margin: -10px -10px 0 -10px;
                        }

                        .listCarts {
                            max-height: min(80vh, 700px) !important;
                        }
                    }


                    &::after {
                        display: none;
                    }

                    .layout {
                        position: fixed;
                        inset: 0;
                        background-color: #00000061;
                        z-index: -1;
                    }
                }

                .btnClose {
                    display: block !important;
                }
            }

            .icon_notify {
                >.notify_show {
                    display: none;

                }
            }
        }
    }
}

@media (max-width: 500px) {
    .header-bottom-container {
        .header-bottom-content {
            &.short_video {
                .header-logo {

                    .header-logo-img {
                        margin-left: 0px;
                        width: 40px !important;
                        height: 40px !important;
                    }
                }

                .header-icon {
                    .header-icon-wrap {
                        .header-icon-separate {
                            display: none;
                        }
                    }
                }
            }
        }

        .header-icon {
            padding-right: 3px !important;

            .icon-cart {
                .right {
                    display: none !important;
                }

                .left {
                    margin-right: 14px !important;
                }
            }



            .header-icon-separate {
                display: none !important;
            }
        }

        .icon-account {
            display: none !important;
        }

        // .header-logo {
        //     .header-logo-img {
        //         background-image: url('../../public/images/logo/logo-icon.png') !important;
        //         width: 50px !important;
        //         height: 50px !important;
        //     }
        // }

        .icon-menu {
            display: flex !important;
        }
    }
}

@media (max-width: 400px) {
    .header-bottom-container {
        .header-icon {
            .icon-cart {
                .cartShow_container {

                    .listCarts {
                        .cartItem_right {
                            .cartItem_wrap {
                                flex-direction: column;
                                align-items: flex-start !important;
                            }
                        }
                    }
                }
            }

        }
    }
}