.NewPost-container {
    .NewPost-content {
        min-height: 300px;
        margin: 40px 10px 10px;
        display: flex;
        background-color: rgba(255, 255, 255, 0);
        padding: 50px 10px;
        border-radius: 10px;
        align-items: flex-start;

        .NewPost-main {
            width: 900px;
            max-width: 100%;
            min-height: 200px;
            // background-color: var(--bg-primary-color);
            border-radius: 6px;

            .top {
                display: flex;
                justify-content: space-between;
                padding: 10px;

                .title {
                    font-size: 1.6rem;
                    font-weight: bold;
                    color: var(--text-title-color);
                    text-shadow: 0 0 .5em var(--text-title-color);
                }

                .more {
                    color: #fff;
                    font-size: 1.2rem;
                    position: relative;
                    height: fit-content;
                    margin-right: 20px;

                    &:hover {
                        opacity: .6;
                    }

                    &::after {
                        position: absolute;
                        content: "";
                        top: 1px;
                        height: 100%;
                        aspect-ratio: 1/1;
                        border-right: 2px solid #fff;
                        border-bottom: 2px solid #fff;
                        transform: rotate(-45deg) scale(.4);
                    }
                }

            }

            .content {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                background-color: var(--bg-primary-color);
                border-radius: 6px;

                .content-left {
                    max-width: 50%;
                    min-height: 200px;
                    padding: 10px;

                    &:hover {
                        .image {
                            div {
                                transform: scale(1.1);
                            }
                        }
                    }

                    .image {
                        width: 100%;
                        // aspect-ratio: 2/1;

                        overflow: hidden;
                        border-radius: 8px;

                        img {
                            // width: 100%;
                            // height: 100%;
                            height: auto;
                            max-height: calc(100vh - 200px);
                            // background-size: cover;
                            // background-image: url('https://file.hstatic.net/200000516791/article/blog-1_dada356961874f0c96886ae333655aac.jpg');
                            object-fit: cover;
                            object-position: center;
                            border-radius: 8px;
                            transition: .3s linear;
                        }
                    }

                    .name {
                        margin-top: 14px;
                        font-weight: bold;
                        font-size: 1.4rem;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        overflow: hidden;
                        line-height: 20px;
                        max-height: 40px;
                        color: #fff;

                        &:hover {
                            opacity: .7;
                        }
                    }

                    .time {
                        font-size: 1rem;
                        color: #fff;
                        margin-top: 10px;
                    }
                }

                .content-right {
                    flex: 1;
                    padding: 10px;

                    .content-right-wrap {
                        display: flex;
                        gap: 8px;
                        margin-bottom: 10px;

                        &:hover {
                            .image {
                                div {
                                    transform: scale(1.1);
                                }
                            }
                        }

                        .image {
                            width: 130px;
                            height: 73px;
                            border-radius: 8px;
                            overflow: hidden;

                            img {
                                width: 100%;
                                height: auto;
                                border-radius: 8px;
                                // background-size: cover;
                                // background-image: url('https://file.hstatic.net/200000516791/article/blog-1_dada356961874f0c96886ae333655aac.jpg');
                                object-fit: cover;
                                object-position: center;
                                transition: .3s linear;
                            }

                        }

                        .content {
                            flex: 1;
                            margin-top: 4px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            .name {
                                font-size: 1.2rem;
                                line-height: 18px;
                                max-height: 36px;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 2;
                                overflow: hidden;
                                color: #fff;

                                &:hover {
                                    opacity: .7;
                                }
                            }

                            .time {
                                width: 100%;
                                font-size: 1rem;
                                color: #737373;
                                text-align: end;
                            }
                        }
                    }
                }
            }

        }

        .NewPost-img {
            width: 25%;
            // height: 300px;
            margin: 0 0px 0 10px;
            border-radius: 4px;
            overflow: hidden;

            &:hover {
                div {
                    transform: scale(1.1);
                }
            }

            img {
                width: 100%;
                height: auto;
                // background-size: cover;
                // background-image: url('../../public/images/home/NewPostImage-right.webp');
                border-radius: 4px;
                transition: .3s linear;
            }
        }
    }
}

@media (max-width: 1000px) {
    .NewPost-container {
        .NewPost-content {
            .NewPost-img {
                display: none;
            }
        }
    }
}

@media (max-width: 770px) {
    .NewPost-container {
        .NewPost-content {
            margin: 10px 0px 10px;
            padding: 10px 0px;

            .content-left,
            .content-right {
                width: 100% !important;
            }
        }
    }
}

@media (max-width: 700px) {
    .NewPost-container {
        .NewPost-content {
            margin: 10px 0px 10px;
            padding: 10px 0px;

            .NewPost-main {
                .content {
                    flex-direction: column;

                    .content-left,
                    .content-left {
                        width: 100% !important;
                        max-width: unset;
                    }

                    .content-left {

                        .image {
                            img {
                                // width: 100%;
                                width: auto;
                            }
                        }
                    }
                }
            }

        }
    }
}

@media (max-width: 600px) {
    .NewPost-container {
        .NewPost-content {
            .NewPost-main {
                .top {
                    .title {
                        font-size: 1.6rem;
                    }

                    .more {
                        font-size: 1.2rem;

                        &::after {
                            top: 1px;
                        }
                    }
                }

                .content {
                    .content-left {
                        .image {
                            aspect-ratio: 1/1;
                        }

                        .name {
                            font-size: 1.4rem;
                        }

                        .time {
                            font-size: 1rem;
                        }
                    }

                    .content-right {
                        .content-right-wrap {
                            .content {
                                .name {
                                    font-size: 1.2rem;
                                    line-height: 14px;
                                    max-height: 28px;
                                }

                                .time {
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}