.ShortVideo_container {
    padding: 10px;

    >.ShortVideo_content {
        padding: 10px;

        >.header {
            padding: 10px;
            font-size: 1.6rem;
            font-weight: 700;
            color: var(--text-title-color);
            text-shadow: 0 0 .5em var(--text-title-color);
            text-transform: uppercase;
        }

        >.content {
            min-height: 100px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            >.left {
                border-radius: 6px;
                background-color: var(--bg-primary-color);
                display: flex;
                gap: 6px;
                padding: 10px;
                width: min(800px, 100%);
                flex-wrap: wrap;

                >.shortvideo_item {
                    width: calc(20% - 6px);
                    aspect-ratio: 1/1.6;
                    border: 1px solid #fff;
                    border-radius: 6px;

                    img {
                        height: 100%;
                        width: 100%;
                        display: block;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }

            >.right {

                img {
                    width: 270px;
                    max-height: 300px;
                    height: auto;
                    object-fit: cover;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .ShortVideo_container {

        .ShortVideo_content {

            .content {

                >.right {
                    display: none;
                }
            }

        }
    }
}


@media (max-width: 650px) {
    .ShortVideo_container {
        padding: 0;

        .ShortVideo_content {
            padding: 4px;


        }
    }
}

@media (max-width: 500px) {
    .ShortVideo_container {

        .ShortVideo_content {
            >.content {
                >.left {
                    >.shortvideo_item {
                        width: calc(33.333% - 6px);
                    }
                }
            }
        }
    }
}