.Layout_notify_container {
    min-height: 200px;
    // border: 1px solid #fff;
    color: #fff;

    >.list_notify {

        >.item_notify {
            display: flex;
            align-items: flex-start;
            gap: 10px;
            padding: 14px 10px;

            &:hover {
                color: #fff;
                background-color: #33333382;
            }

            >.left {
                background-color: #333;
                border-radius: 4px;

                img {
                    width: 100px;
                    height: 100px;
                    // border: 1px solid #fff;
                    border-radius: 4px;
                    object-fit: cover;
                    object-position: center;
                }
            }

            >.right {

                >.title {
                    font-size: 1.4rem;

                    &::first-letter {
                        text-transform: uppercase;
                    }
                }

                >.content {
                    color: #737373;
                    font-size: 1.2rem;

                    &::first-letter {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

    >.pagination {
        background-color: #fff;
        width: fit-content;
        margin: 20px auto 0;
        border-radius: 4px;
    }
}