.SaveBlog_container {
   >.SaveBlog_content {
      color: #fff;
      width: 800px;
      max-width: 100%;
      margin: 30px auto 0;
      // border: 1px solid #fff;
      min-height: 300px;
      padding: 10px;

      >.header {
         h3 {
            font-size: 1.8rem;
            font-weight: 900;
            color: var(--text-title-color);
            text-shadow: 0 0 .5em var(--text-title-color);
         }
      }

      >.count {
         margin-top: 100px;
         border-bottom: 1px solid #737373;

         >.text {
            font-size: 14px;
            width: fit-content;
            border-bottom: 1px solid #fff;
            padding: 10px 0;
         }
      }

      >.list_blog {
         margin-top: 20px;
         display: flex;
         flex-direction: column;
         gap: 20px 0;

         >.blog_item {
            min-height: 100px;
            border: 1px solid #fff;
            border-radius: 12px;
            display: flex;
            padding: 10px;
            align-items: flex-start;

            >.left {
               flex: 1;
               min-height: 100px;
               cursor: pointer;

               >.content_blog {
                  max-height: 250px;
                  overflow: hidden;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 5;
                  min-height: 50px;


                  img {
                     display: none;
                  }
               }

               >.footer {
                  display: flex;
                  gap: 0 20px;
                  margin-top: 10px;
                  align-items: center;

                  >.time {
                     font-size: 14px;
                     color: green;
                  }

                  >.auhor {
                     display: flex;
                     gap: 0 10px;

                     >.label {
                        font-size: 14px;
                     }

                     >.nameAuthor {
                        font-size: 14px;
                        text-transform: uppercase;
                        font-weight: 500;
                     }
                  }
               }

               >.noData {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  min-height: 100px;
                  font-size: 14px;
               }
            }

            >.right {
               width: 40px;
               flex-shrink: 0;
               text-align: center;
               position: relative;
               border: none;
               padding: 0;
               display: flex;
               align-items: flex-start;
               justify-content: center;
               background-color: transparent;

               &:focus {
                  >.delete {
                     display: block;
                  }
               }

               >i {
                  color: #737373;
                  cursor: pointer;

                  &:hover {
                     color: #fff;
                  }
               }

               >.delete {
                  position: absolute;
                  width: 120px;
                  font-size: 14px;
                  right: 10px;
                  top: 100%;
                  color: #000;
                  background-color: #fff;
                  padding: 4px 10px;
                  border-radius: 4px;
                  cursor: pointer;
                  box-shadow: 1px 3px 14px 1px #999696db;
                  display: none;
                  opacity: 1;
                  transform: scale(1);
                  transform-origin: top right;
                  animation: fadeIn .2s linear;

                  @keyframes fadeIn {
                     from {
                        transform: scale(0);
                        opacity: 0;
                     }

                     to {
                        transform: scale(1);
                        opacity: 1;
                     }
                  }

                  &:hover {
                     color: #737373;
                  }
               }
            }
         }
      }

      >.pagination {
         background-color: #b3b3b3;
         margin-top: 100px;
         border-radius: 10px;
         display: flex;
         align-items: center;
         justify-content: center;
      }

   }
}

@media (max-width: 500px) {
   .SaveBlog_container {
      >.SaveBlog_content {
         >.list_blog {
            >.blog_item {
               >.left {
                  >.footer {
                     // flex-direction: column;
                     flex-wrap: wrap;

                     >.time {
                        width: 100%;
                     }
                  }
               }
            }
         }

      }
   }
}