.Portal_container {
    margin: 30px auto 0;
    width: min(100%, 800px);
    min-height: 300px;
    background-color: #fff;
    padding: 30px 10px;
    border-radius: 3px;

    a {
        display: inline-block;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #000;
        font-weight: bold;
    }

    b {
        font-size: 1.4rem;
    }

    div {
        font-size: 1.2rem;
    }

    p {
        font-size: 1.2rem;
    }

    ul {

        li {
            font-size: 1.2rem;
        }
    }

}